<h3>All Counter objects:</h3>

<table border="1px solid">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Count</th>
			<th>Created</th>
			<th>Updated</th>
		</tr>
	</thead>
	<tbody>
		<% @counters.each do |counter| %>
			<tr>
				<td><%= link_to counter.id, hit_counter_path(counter.id) %></td>
				<td><%= counter.name %></td>
				<td><%= counter.individual_hits.count %></td>
				<td><%= counter.created_at %></td>
				<td><%= counter.updated_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>
